*/build*
*.user
*.qdf
*.qsf
*.autosave
~$23_Khudyakov_ArbitraryWaveformGenerator.docx
~$$FunctionalDiagram.~vsdx
*.ms14 (Security copy)
*.jpg
*.rpt
*.summary
*.smsg
*.jdi
*.pin
*.sld
*.done
*.cdf
*.wlf
work/*
QuartusProject/sim/work/_vmake
*.qtl
*.qdb
*.qpg
QuartusProject/sim/work/_info
*.ini
*.qsys_edit
*.bak
*.qsys
*.sopcinfo
*.qws
db/*
*/greybox_tmp
*/incremental_db
*/output_files
*.kpt
*.tdf
*.cdb
*.hdb
*.bpm
*.idb
*.logdb
*.rdb
*.db_info
*.qmsg
*.hier_info
*.hif
*.html
QuartusProject/project/db/Generator.lpc.txt
*.ammdb
*.flock
*.sci
QuartusProject/project/db/Generator.smart_action.txt
QuartusProject/project/db/Generator.smp_dump.txt
*.ddb
*.tmw_info
*.json
QuartusProject/project/db/ip/sldeadc5d3b/alt_sld_fab.qip
QuartusProject/project/db/ip/sldeadc5d3b/alt_sld_fab.v
*.xml
*.tcl
QuartusProject/project/db/ip/sldeadc5d3b/submodules/alt_sld_fab_alt_sld_fab.v
*.sv
QuartusProject/project/db/stp2_auto_stripped.stp
QuartusProject/project/db/uart_i2c_max_PLL_altpll.v
QuartusProject/project/db/ip/sldeadc5d3b/submodules/alt_sld_fab_alt_sld_fab_sldfabric.vhd
*.dpi
*.hb_info
*.sig
QuartusProject/project/incremental_db/README
