*.qsys_edit
*.bak
*.qsys
*.sopcinfo
*.qws
*.stp
*/tb
*/db
*/greybox_tmp
*/incremental_db
*/output_files

*/build*
*.user
*.qdf
*.qsf
*.autosave
~$23_Khudyakov_ArbitraryWaveformGenerator.docx
~$$FunctionalDiagram.~vsdx
*.ms14 (Security copy)
*.jpg
